/* Modal Backdrop */
.backdrop {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}
/* style sheet for modal of stock in */

/* This is the modal css */

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 15px;
    width: 20%;
    max-height: 90vh; 
    overflow-y: auto;
    z-index: 10;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    font-family: sans-serif;

}

    .modal-header {
      background-color: #007bdb;
      color: white;
      padding: 15px;
      text-align: center;
      font-weight: bold;
      font-size: 18px;
    }

    .modal form {
      display: flex;
      flex-direction: column;
      padding: 20px;
      gap: 15px;
    }

    .modal input,
    .modal textarea {
      padding: 10px;
      border: 2px solid black;
      border-radius: 20px;
      font-size: 14px;
    }

    .modal textarea {
      border-radius: 15px;
      resize: none;
      height: 80px;
    }

    .modal button {
      background-color: #d1eaff;
      border: none;
      padding: 10px;
      border-radius: 20px;
      font-weight: bold;
      font-size: 14px;
      cursor: pointer;
      width: 100px;
      align-self: center;
    }

    .modal button:hover {
      background-color: #b3daff;
    }