.backdrop {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.header_bg {
    background-color: #007bff;
    height: 40px;
    border-radius: 15px 15px 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox-column{
    justify-content: center;
    padding-left: 30px;
}

.add_stock_container {
   display: none;
    position: fixed;
    top: 20%;
    left: 25%;
    font-family: Arial, sans-serif;
    max-width: 700px;
    max-height: 600px;
    margin: 0 auto;
    background-color: #f8f8f8;
    border-radius: 15px;
    z-index: 20;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.add-stock-container h2 {
    text-align: center;
    color: white;
    margin: 0;
    line-height: 40px; /* vertically center within 40px header */
    font-size: 24px;
}
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
    padding: 20px;
}
.input_fields_new_unif input {
    width: 150px;
    height: 32%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box; /* Include padding in width */
    
}

.checkboxes_grid {
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.checkbox-column label {
    display: block;
    
    align-items:center ;
    height: 20%;
}
.add_button_container {
    text-align: center;
    padding-bottom: 20px;
    

}

.add_button {
    padding: 5px 30px;
    border: none;
    border-radius: 20px;
    background-color: #b3d9ff; /* Light blue */
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
} 
.form-grid{
    grid-template-columns: 1fr 1fr 1fr;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    z-index: 100;
    padding: 0;
    line-height: 1;
    outline: none;
}

.close-btn:hover {
    color: red;
}
